<div id="book" class="hero">
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br/>
    <h1>Want to Work for <span class="logo">-A.H. Hauling-</span>?</h1>
    <br/>
    <p>At A.H. Hauling we are always looking to hire more talent. We want people who epitomize
      safety and professionalism. We are an equal opportunity employer, and we would love to have you on the team. If you are looking for a great work environment with
      competitive compensation and have your CDL Class A,
      Please send us your resume or statement of interest via email.
    </p>
    <br/>
    <a href="mailto:anthony@ahhauling.com" class="contact-link btn btn-success btn-lg">
      Email
    </a>

    <br/><br/><p> or call for further information! </p> <br/>
    <a href="tel:7704905205" class="contact-link btn btn-success btn-lg">
      (770) 490-5205
    </a>
    <br/><br/>
  </div>
  </div>