<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag 'AHHauling.jpg', class: '' %>
      <div class="carousel-caption">
        Welcome to <span class="logocarousel">-A.H. Hauling-</span>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slider2.jpg', class: '' %>
      <div class="carousel-caption">
        For all your hauling needs.
      </div>
    </div>
    <div class="item">
      <%= image_tag 'camero.jpg', class: '' %>
      <div class="carousel-caption">
        Customer service is our priority!
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<br/><br/><br/><br/><br/><br/><br/><br/>
<div id="book" class="hero">
  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
  <br/>
      <h1>Welcome to <span class="logo">-A.H. Hauling-</span></h1>
      <br/>
      <p>Here at A.H. Hauling we are a Veteran owned small business which prides itself on
        safety and professionalism. We strive for a <strong style="color: #006600; font-size: 23px;"><i>Safe, Efficient, and Timely</i></strong> delivery. We work hard at
        implementing the newest safety measures in the industry to give you peace of mind. We will treat all
        of your prized possessions with the same care we show our own. If you need your car moved to your new home, the
        local repair shop or body shop across town, or if you need your fleet moved
        across the Country we have you covered.
        Please get in touch with us:
      </p>
      <br/>
      <a href="mailto:anthony@ahhauling.com" class="contact-link btn btn-success btn-lg">
        Book With Us Via Email
      </a>
    <p> or </p>
      <a href="tel:7704905205" class="contact-link btn btn-success btn-lg">
        Call Us Anytime: (770) 490-5205
      </a>
    <br/><br/>
    </div>
  <div class="clear "></div>
  <div class="frosty col-xs-10 col-xs-offset-1"><br/><br/>
    <blockquote>
      <p><i>WOW! A.H. Hauling is amazing. I would recommend them with Pleasure!</i></p>
      <b>5 Stars</b>
      <b>- John Jenkins</b>
    </blockquote>
    <blockquote>
      <p><i>AH Hauling's Wonderful team made our move so easy! I cannot wait to use them again.</i></p>
      <b>5 Stars</b>
      <b>- James Wood</b>
    </blockquote>
  </div>

</div>
<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<div class="col-xs-10 col-xs-offset-1 features text-center paddingtop paddingbotom">
  <h1>Photo Gallery</h1> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</div>

<div class="col-xs-10 col-xs-offset-1 features text-center paddingtop paddingbotom">
  <div class="col-sm-4">
    <h3>We haul POVs<h3><br/>
      <span class="glyphicon glyphicon-ok"></span><br/><br/>
      <h5>Trust your vehicle in our hands!</h5>
  </div>
  <div class="col-sm-4">
    <h3>Corporate Vehicle Transport<h3><br/>
      <span class="glyphicon glyphicon-copyright-mark"></span><br/><br/>
      <h5>Need corporate vehicles moved? No problem!</h5>
  </div>
  <div class="col-sm-4">
    <h3>Available in 48 States<h3><br/>
      <span class="glyphicon glyphicon-road"></span><br/><br/>
      <h5>We come to you!</h5>
  </div>


  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
