@import "bootstrap-sprockets";
@import "bootstrap";

.btnsucess {
  border-radius:0;
}

.btn-success{
  background-color: #006600;
  border-color: #006600;
}

.btn-success:hover{
  background-color: gainsboro;
  border-color: #006600;
}


.btn-success:active{
  background-color: #006600;
  border-color: #006600;
}


.btn-success:focus{
  background-color: #006600;
  border-color: #006600;
}


.carousel{
  box-shadow: 0px 3px 8px #2a2a2a;

}
.carousel-caption {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 2px 2px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  left: 0;
  bottom: 400px;
}


.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  width: auto;
  height: 700px;
}




.frosty {
  background:rgba(0,0,0, 0.5);
  color:white;

}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

}
.frosty h3 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.95) 1px 1px;

}

.glyphicon {
  color: #006600;
}

.glyphicon-road{
  font-size: 70px;
}

.glyphicon-ok{
  font-size: 70px;
}

.glyphicon-copyright-mark{
  font-size: 70px;
}


.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}



.logo {
  //font-family: 'Pacifico', cursive;
  font-family: 'Cinzel', serif;

  font-size: 30px;
  font-weight: 100;
  color: #006600;
}
.logocarousel {
  font-family: 'Cinzel', serif;
  font-size: 50px;
  font-weight: 100;
  color: #006600;
}


.navbar {
  border-radius:0;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  box-shadow: 0px 1px 3px #2a2a2a;

}
.navbar.navbar-default {
  margin-bottom:0;

}

.navbar-default a.navbar-brand {
  font-family: 'Cinzel', serif;
  font-size: 25px;
  font-weight: 100;
  color: #006600;

}



.paddingbotom{
  padding-bottom: 100px;
}
.paddingtop {
  padding-top: 100px;
}

body {
  background: url('bg.png');
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

}


h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}



